.toggle-button {
  padding: 0;
  box-sizing: border-box;
  height: 20px;
  width: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 24px;
  height: 2px;
  background: white;
  transition: all 0.3s ease-in-out;
}

.toggle-button.active .bar-1 {
  transform: rotate(45deg) translate(4px, 6px);
}

.toggle-button.active .bar-2 {
  background: rgba(0, 0, 0, 0);
}

.toggle-button.active .bar-3 {
  transform: rotate(-45deg) translate(4px, -6px);
}
